* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

.app {
  max-width: 375px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}
/* Header Section */
.header-container {
  width: 375px;
  height: 167px;
  position: relative;
}
.header-img {
  width: 100%;
  height: 100%;
}
.header-title{
  position: absolute;
  top: 60px;
  color: #FFFFFF;
  left: 20px;
  font-weight: 400;
  font-size: 29px;
  line-height: 24px;

}
.header-params{
  position: absolute;
  top: 100px;
  left: 20px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
}

/* Menu section */

.menu-container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.menu-container::after{
  content: "";
  width: 100%;
  position: absolute;
  border: 1px solid #D2D2D2;
  bottom: -20px;
}
.emoji {
  font-size: 60px;
}
.item-info {
 width: 220px;
}
.item-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
}
.item-ingreidents{
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
}
.item-price {
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
}
.item-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #DEDEDE;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms;
}
.item-btn:hover {
  transform:scale(1.5, 1.5)
}

/* Cart Section */
.cart-container h2 {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0;
}
.item-container {
  display: inline-flex;
  position: relative;
  width: 100%;
}
.item-container button {
  color: #BBBBBB;
  font-weight: 400;
  font-size: 12px;
  border: none;
  background-color: white;
  display: flex;
  align-items: flex-end;
}
.item-container h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  margin-right: 10px;
}
.item-container span {
  position: absolute;
  right: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.total-price-container {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.total-price-container h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  margin-right: 10px;
}
.total-price-container span {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.total-price-container::before{
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid #393333;  
  top: -25px;
  margin-bottom: 20px;
}
